.header {
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    background-color: darkorange;
    text-align: center;
    padding :2%;
}

.menu li{

    list-style-type: none;
    display: inline-block;
    padding: 15px 10px;
    text-align: right;
    background-color: rgb(255, 140, 0);
}

#dropdown{
    padding: 10;
    border: 1px;
    border-radius: 50px;
    font-size: 30px;
}



